<div class="container">
    <div class="row">
        <div class="col-md-12">
        <div *ngIf="!Comment">
            <p class="h1" style="text-align:center ;">CREATE COMMENT</p>
            <button class="btn btn-primary" type="button" (click)="createcomment()">Create New Comment</button>
        </div>
        <div *ngIf="Comment">
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
            <div class="form-group">
              <label for="Content">Comment</label>
              <input 
              type="text" 
              class="form-control" 
              id="Comment" 
              placeholder="Enter Comment"
              ngModel
              name="Comment">
            </div>
            <div class="row">
                <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Submit</button>
             </div>    
                </div>
          </form>
        </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">            
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Comments</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text"> post.comment</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
</div>